
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm()) {

    <div class="form-signin text-center">
        <form>
            <h2 class="form-signin-heading">Please enter your name to start tweeting</h2>
            <input type="text" id="inputEmail" name="Username" class="form-control" placeholder="Your name please" required="" autofocus="">
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>

}


